.userdetail
    display block
.userdetail .t-Score
    margin-right 5.36%
    margin-top 3%
.userdetail .t-reason
    font-weight normal
    color #000
.userdetail .t-grantTime
    color #9B9B9B
.userdetail .t-success
    color #F5A623
.userdetail .t-danger
    color #9B9B9B
