.user
    display block
.t-user-info
    width 100%
    height 29.8556vh
    text-align center
    position fixed
    z-index 10
    background-color #fff
.t-user-data
    width 100%
    height 17.6581vh
    text-align center
    position fixed
    z-index 10
    background-color #fff
.t-now
    margin-top 2.3842vh
    color #9B9B9B
.honor, .available
    color #F5A623
    font-size 32px
.t-user-avatar
    margin-top 4.5vh
    width 16vw
.userName
    font-size 13px
    color #4A4A4A


