.dynamic
    width 100%
    height 100%
    display block
.t-group-list-item
    width 100%
    height 100%
    position relative
.dynamic .t-list-delete-btn
    background none
.dynamic .t-score
    font-weight bold
.dynamic .t-Score
    margin-right 5.36%
    margin-top 2%
.dynamic .t-date
    font-weight bold
.dynamic .t-success
    color #F5A623
.dynamic .t-danger
    color #9B9B9B
.t-userAvatar
    width 11.2vw
    height 11.2vw
.dynamic .t-name
    position absolute
    width 66.5%
.dynamic .t-reason
    font-weight normal
    color #48B4FF
    text-overflow ellipsis

.dynamic .t-grantTime
    position absolute
    bottom 6px
    color #9B9B9B
.dynamic .t-group-list-item {
    border-bottom: 3px solid #eee;
}
